.btn{
    height: 26px;
    padding: 2px 5px 2px 5px;
    font-size: 12px;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #5E6D8C;
    font-size: 12px;
}
.bootstrap-select.btn-group .dropdown-menu li a {
      font-size: 12px;
}