.text-center
{
    text-align: center !important;
}
.header{
    margin-bottom: 12px;
}
.add-button{
    display: inline-block;
    background-color: #EEEEEE;
    margin-bottom: 12px;
}
.add-button a{
    display: inline-block;
    padding: 4px 14px;
    font-size: 13px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}
label{
    color: #444;
    font-weight: normal;
}
.from-field{
    margin-bottom: 20px;
}
.from-field input, .from-field select{
    border-radius: 5px;
}
.panel-heading{
    font-weight: 600;
    font-size: 14px !important;
}
.panel-footer .btn-default{
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e2e2e2), color-stop(1, #fafafa));
    font-size: 15px;
    padding: 2px 12px 2px 12px;
}
.panel-footer .from-btn{
    height: 30px;
    padding: 2px 12px 2px 12px;
}
.text-danger{
    font-size: 13px;
}
.action_button_modify{
    font-size: 12px;
}
#sideNavigation i{
    color: #fff;
}
.navbar-brand{
    color: #fff !important;
    padding: 15px !important;
    font-size: 18px !important;
    line-height: 20px !important;
    height: 50px !important;
}
.navbar-nav .dropdown-toggle{
    color: #fff;
}
.navbar-nav .dropdown-toggle:focus{
    color: #fff;
}
.list-unstyled li ul{
    background-color: #F5F5F6;
}
.list-unstyled li ul li{
    padding: 8px 0px;
}
.list-unstyled li ul li:hover{
    background-color: #d2d2dd;
}
.list-unstyled li ul{
    padding-left: 0px !important;
}
.list-unstyled li ul li a{
    margin-left: 22px;
}
.list-unstyled ul li a{
    font-size: 15px;
}
#datatable_wrapper .dt-input{
    width: 75px;
    margin-right: 7px;
}
.form-label{
    font-weight: bold;
    font-size: 15px;
}
.card-header{
    background: #e6e6e6;
}
.dashboard_from .page-title{
    font-size: 20px;
}